.category_item {
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.img_wrapper {
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
/* 
.img_wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform var(--hover-time) ease; */



.category_title {
	margin-top: 20px;
	font-weight: 600;
	font-size: 18px;
}

@media (min-width: 762px) {
	.category_item:hover .img_wrapper img {
		transform: scale(1.1);
	}
}